<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/china_mobile"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shoujibao"
        tools:targetApi="31">
        <activity
            android:name=".aaaa"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="edu.swu.shoujibao.MainActivity"></activity>
        <activity android:name="edu.swu.shoujibao.RegisterActivity"></activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".CommentActivity"></activity>
        <activity android:name=".zhujiemian"></activity>
        <activity android:name="admin"></activity>
        <activity android:name="shanghu_login"></activity>
        <activity android:name="geren_login"></activity>
        <activity android:name="shcomment"></activity>
    </application>


</manifest>